@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-primary: #0ea5e9;
  --color-dark: #374151;
  --color-black: #1f2937;
}

body {
  @apply antialiased text-default bg-gray-50 scheme-light dark:scheme-dark;
}
